@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  font-family: "Josefin Sans", sans-serif;
}

a,
p,
h3,
h2,
.nav-link {
  color: white;
}
h4 {
  color: #08a1ff;
}
ul {
  list-style-type: none;
  padding: 0px;
}
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.hero {
  background-image: url(./src/big\ hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.support {
  background-image: url(./src/Rectangle\ 63.png);
  background-size: cover;
}
.customer {
  background-image: url(./src/customer\ background.png);
  background-size: cover;
  background-repeat: round;
}
.car {
  background-image: url(./src/Depositphotos_31419591_XL.png);
  background-size: cover;
  background-repeat: round;
  background-color: #063964;
}
.mask {
  background-image: url(./src/Mask\ Group\ 1.png);
  background-size: cover;
  background-repeat: round;
  background-color: #063964;
  /* height: 100vh; */
}
.fa-phone-flip {
  background-color: #08a1ff;
  border-radius: 50%;
  font-size: 2rem;
  padding: 1rem;
  color: #fff;
}
.card.one {
  height: 20rem;
  border-radius: 0.6rem;
  background-color: #04325d;
  color: #fff;
}
.card.two {
  height: 20rem;
  border-radius: 0.6rem;
  background-color: #f4f4f4;
  color: #000;
  border: none;
}
._1 {
  border-left: 0.5rem solid #08a1ff;
}

._2 {
  text-align: center;
}
._3 {
  border-right: 1px dashed grey;
}
._4 {
  height: 50vh;
}
.owl-carousel .owl-nav.disabled {
  display: block;
}
.owl-theme .owl-nav [class*="owl-"] {
  color: black;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: transparent;
  display: inline-block;
  cursor: pointer;

  border-radius: 3px;
}
.owl-carousel .owl-item img {
  width: auto;
}
.owl-theme .owl-dots {
  display: none;
}
