@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
* {
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: ease;
  font-family: "Josefin Sans", sans-serif;
}

.nav-link,
.fa-bars {
  color: #fff;
}
.navbar-toggler {
  border: none;
}
h4 {
  color: #08a1ff;
}
ul {
  list-style-type: none;
  padding: 0px;
}
.navbar {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.input-group-text {
  background-color: transparent;
}
.basic {
  border-right: transparent;
  padding: 0.7rem;
}
.hero {
  background-image: url(./src/big\ hero.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: #fff;
}
textarea {
  resize: none;
}

.customer {
  background-image: url(./src/customer\ background.png);
  background-size: cover;
  background-repeat: round;
}
.car {
  background-image: url(./src/Depositphotos_31419591_XL.png);
  background-size: cover;
  background-repeat: round;
  background-color: #063964;
  color: #fff;
}
.mask {
  background-image: url(./src/Mask\ Group\ 1.png);
  background-size: cover;
  background-repeat: round;
  background-color: #063964;
  color: #fff;
  /* height: 100vh; */
}
.book {
  /* background-image: url(./src/bg2.png); */
  background-size: cover;
  background-repeat: round;
  background-color: #063964;
  color: #fff;
}
.fa-facebook-f.a,
.fa-twitter.a,
.fa-instagram.a,
.fa-linkedin-in.a {
  margin: 0.5em;
  font-size: 1em;
  border-radius: 50%;
  padding: 0.5em;
  width: 2em;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.2);
  color: #fff;
}
.fa-phone-flip,
.fa-facebook-f.f,
.fa-twitter.f,
.fa-instagram.f {
  margin: 0.5em;
  font-size: 1.3em;
  border-radius: 50%;
  padding: 0.5em;
  width: 2em;
  text-align: center;
  background-color: #08a1ff;
  color: #fff;
}
.fa-check {
  color: #4db9fc;
  border: 1px solid #4db9fc;
  border-radius: 50%;
  padding: 5px;
}
.fa-paper-plane {
  color: #08a1fe;
}
.card.one {
  height: 20rem;
  border-radius: 0.6rem;
  background-color: #04325d;
  color: #fff;
}
.card.two {
  height: 20rem;
  border-radius: 0.6rem;
  background-color: #f4f4f4;
  color: #000;
  border: none;
}
.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
._1 {
  border-left: 0.5rem solid #08a1ff;
}

._2 {
  text-align: center;
}
._3 {
  border-right: 1px dashed rgb(128, 128, 128);
}
._4 {
  height: 50vh;
}
._5 {
  background-color: rgb(255, 255, 255, 0.3);
}
.support {
  background-color: rgb(255, 255, 255, 0.3);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.owl-carousel .owl-nav.disabled {
  display: block;
}
.owl-theme .owl-nav [class*="owl-"] {
  color: black;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: transparent;
  display: inline-block;
  cursor: pointer;

  border-radius: 3px;
}
.owl-carousel .owl-item img {
  width: auto;
}
.owl-theme .owl-dots {
  display: none;
}

.owl-buttons div {
  position: absolute;
  top: calc(50% - 25px);
  height: 50px;
  width: 50px;
  line-height: 45px;
  font-size: 28px !important;
  margin: 0 !important;
}
